# MongoDB Atlas Connection String
# Replace with your actual MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/ecommerce?retryWrites=true&w=majority

# JWT Secret Key (Generated secure key)
JWT_SECRET=270a0b66763d294243e9e478c1cef261f3d5a6e890235e92c92bd79835cd28c9667af8e1967fb250cafd943068d9cd861c6069dc6ccd641e51afd562d3fa469a

# Server Port
PORT=5000

# Node Environment
NODE_ENV=development
